<div class="flex justify-center items-center ">
  <div class="w-full max-w-md border border-gray-300 rounded-lg p-6 shadow-md bg-white">
    <%= form_with(model: website, class: "contents") do |form| %>
      <% if website.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
          <h2><%= pluralize(website.errors.count, "error") %> prohibited this website from being saved:</h2>

          <ul class="list-disc ml-6">
            <% website.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="my-5">
        <h1 class="text-lg font-medium mb-2">Name of Website</h1>
        <%= form.text_field :title, class: ["block w-full shadow-sm rounded-md border outline-hidden px-3 py-2 p-4", {"border-gray-400 focus:outline-blue-600": website.errors[:title].none?, "border-red-400 focus:outline-red-600": website.errors[:title].any?}] %>
      </div>

      <div class="my-5">
        <h1 class="text-lg font-medium mb-2">URL of Website</h1>
        <%= form.text_area :body, rows: 4, class: ["block w-full shadow-sm rounded-md border outline-hidden px-3 py-2 p-4", {"border-gray-400 focus:outline-blue-600": website.errors[:body].none?, "border-red-400 focus:outline-red-600": website.errors[:body].any?}] %>
      </div>

      <div class="my-5">
        <%= form.label :time, class: "block text-lg font-medium mb-2" %>
        <%= form.number_field :time, min: 1, step: 1, class: ["block w-full shadow-sm rounded-md border outline-hidden px-3 py-2 p-4", {"border-gray-400 focus:outline-blue-600": website.errors[:time].none?, "border-red-400 focus:outline-red-600": website.errors[:time].any?}] %>
      </div>

      <div class="text-center m-5">
        <%= form.submit class: "btn btn--positive m-4" %>
        <%= link_to "Back to websites", websites_path, class: "btn btn--secondary" %>
        <% if @website.persisted? && current_page?(edit_website_path(@website)) %>
          <%= link_to "Show this website", @website, class: "btn btn--secondary" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
