<% content_for :title, "Websites" %>

<div class="container mx-auto p-6">

  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice">
      <%= notice %>
    </p>
  <% end %>

  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-semibold text-gray-900">Websites</h1>
    <%= link_to "New Website", new_website_path, class: "bg-blue-600 hover:bg-blue-500 text-white px-4 py-2 rounded-md font-medium transition duration-300 p-2" %>
  </div>

  <div class="mb-6 text-sm text-gray-700">
    <p>Logged in as <strong><%= current_user.email %></strong></p>
  </div>

  <%= turbo_stream_from :websites %>

  <div id="websites" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <% if @websites.any? %>
      <% @websites.each do |website| %>
        <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition duration-300 mb-8 max-w-xs sm:max-w-sm lg:max-w-md w-full mx-auto">
          <%= render website %>
          <div class="mt-4 text-center">
            <%= link_to "Show Website", website, class: "text-blue-600 hover:text-blue-500 text-lg font-medium transition duration-200" %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center text-gray-500 my-10">No websites found.</p>
    <% end %>
  </div>

</div>
