<% content_for :title, "Showing website" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Showing website</h1>
  <%= turbo_stream_from :websites %>
  <%= render @website %>

  <%= link_to "Edit this website", edit_website_path(@website), class: "btn btn--secondary" %>
  <%= link_to "Back to websites", websites_path, class: "btn btn--secondary" %>
  <div class="inline-block ml-2">
    <%= button_to "Destroy this website", @website, method: :delete, class: "btn btn--negative" %>
  </div>
  <%= turbo_stream_from "status_pings_#{@website.id}" %>
  <%= render "status_pings/status_pings", { status_pings: @status_pings  }  %>
</div>

